{
  "swagger": "2.0",
  "info": {
    "title": "APIs.How",
    "description": "I have long used Bit.ly as my URL shortner, but recently have started outgrowing the platform, and needing more control over my links. I have apis.how as a universal URL shortener for my online and offline linkage.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "api.tsa.link",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/link/": {
      "get": {
        "summary": "all links",
        "description": "all links",
        "operationId": "getLinks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across link",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add a link",
        "description": "add a link",
        "operationId": "addLink",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "url for the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "short_url",
            "in": "query",
            "description": "short url for the link",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/link/{link_id}/": {
      "get": {
        "summary": "retrieve a link using its id",
        "description": "retrieve a link using its id",
        "operationId": "getlink",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "the unique id for link entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update link",
        "description": "update link",
        "operationId": "updatelink",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "the unique id for link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "link_date",
            "in": "query",
            "description": "date the link was last pulled",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the link",
            "required": false,
            "type": "string"
          },
          {
            "name": "short_url",
            "in": "query",
            "description": "short_url of the link",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete link",
        "description": "delete link",
        "operationId": "deletelink",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "the unique id for link entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Links"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/link/{link_id}/tags/": {
      "get": {
        "summary": "link tags",
        "description": "link tags",
        "operationId": "getlinkTags",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add tag to link",
        "description": "add tag to link",
        "operationId": "addlinkTag",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for the link",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/link/{link_id}/tags/{tag}": {
      "delete": {
        "summary": "delete link tag",
        "description": "delete link tag",
        "operationId": "deletelinkTag",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "id for the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the link",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from link",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "link Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "link": {
      "properties": {
        "link_id": {
          "description": "unique id of the link",
          "type": "integer",
          "format": "id"
        },
        "created_date": {
          "description": "date the link was created",
          "type": "string"
        },
        "title": {
          "description": "ttle for the link",
          "type": "string"
        },
        "short_url": {
          "description": "short_url of the link",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}
